/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.mock-data-field { 
  width: 100%; height: 350px; resize: none;
}

.add-route-btn {
  width: 100%; margin: 0px; height: 40px; font-weight: bold;
}

.save-route-btn {
  margin-left: 0px; margin-top: 20px; font-weight: bold;
}